<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>修改项目界面</title>
    <!-- Bootstrap Styles-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap.css}">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <!-- Custom Styles-->
    <link th:href="@{/assets/css/custom-styles.css}" rel="stylesheet" />
    <!--自定义 CSS-->
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
    <div id="wrapper">
        <!--引入抽取出来的顶部导航栏-->
        <div th:replace="~{/commons/bar::topbar}"></div>
        <!--/. NAV TOP  -->
        <!--引入抽取出来的侧边菜单栏-->
        <div th:replace="~{/commons/bar::sidebar(activeUri='project.html')}"></div>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
             <div id="page-inner">
			     <div class="row">
                     <div class="col-md-12">
                         <h1 class="page-header">
                             <!--Empty Page <small>Create new page.</small> 标题-->
                             &nbsp;
                         </h1>
                     </div>
                 </div>

                 <!--main content start-->
                 <section id="main-content">
                     <section class="wrapper">
                         <div class="row">
                             <div class="col-lg-12">
                                 <ol class="breadcrumb">
                                     <li><i class="fa fa-home"></i><a th:href="@{/admin-sys/index}">首页</a></li>
                                     <li><i class="icon_document_alt"></i>修改项目</li>
                                     <button type="button" class="btn-sm btn-default"
                                             style="width:100px;height:30px;line-height:15px;background-color:#66CDAA;font-size:15px;margin-left:750px">
                                         <a th:href="@{/admin-sys/projects}" style="color:white">返回上页</a>
                                     </button>
                                 </ol>
                             </div>
                         </div>

                         <!-- Form validations -->
                         <div class="row">
                             <div class="col-lg-12">
                                 <section class="panel">
                                     <header class="panel-heading">
                                         <b>修改项目信息</b>
                                     </header>
                                     <div class="panel-body">
                                         <div class="form">
                                             <form th:action="@{/admin-sys/project}" class="form-validate form-horizontal" method="post">
                                                 <!--修改页面必须加这个隐藏输入框，设定请求方式-->
                                                 <input type="hidden" name="_method" value="put"/>

                                                 <div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目ID
                                                             <span class="required" style="color:red">*</span>
                                                         </label>
                                                         <div class="col-lg-10">
                                                             <input class="form-control" name="projectId" th:value="${project.projectId}" type="text" style="width:250px" disabled/>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目名
                                                             <span class="required" style="color:red">*</span>
                                                         </label>
                                                         <div class="col-lg-10">
                                                             <input class="form-control" name="projectName" th:value="${project.projectName}" type="text" style="width:250px" required/>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目简介
                                                             <span class="required" style="color:red">*</span>
                                                         </label>
                                                         <div class="col-lg-10">
                                                             <textarea class="form-control" name="projectContent" th:text="${project.projectContent}" style="width:250px;height:200px;" required ></textarea>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目投入资金</label>
                                                         <div class="col-lg-10">
                                                             <input class="form-control" name="inputMoney" th:value="${project.inputMoney}" type="text" style="width:250px" required/>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目创收资金</label>
                                                         <div class="col-lg-10">
                                                             <input class="form-control" name="outputMoney" th:value="${project.outputMoney}" type="text" style="width:250px" required/>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目成本</label>
                                                         <div class="col-lg-10">
                                                             <input class="form-control" name="cost" th:value="${project.cost}" type="text" style="width:250px" required/>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目资金消费明细</label>
                                                         <div class="col-lg-10">
                                                             <textarea class="form-control" name="costDetail" th:text="${project.costDetail}" style="width:250px;height: 200px" required></textarea>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目开始时间
                                                             <span class="required" style="color:red">*</span>
                                                         </label>
                                                         <div class="col-lg-10">
                                                             <input class="form-control" name="time_start" th:value="${project.time_start}" type="text" style="width:250px" required/>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目结束时间
                                                             <span class="required" style="color:red">*</span>
                                                         </label>
                                                         <div class="col-lg-10">
                                                             <input class="form-control" name="time_end" th:value="${project.time_end}" type="text" style="width:250px" required/>
                                                         </div>
                                                     </div>
                                                 </div>

                                                <!--<div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目进度
                                                             <span class="required" style="color:red">*</span>
                                                         </label>
                                                         <div class="col-lg-10">
                                                             <input class="form-control" name="process" th:value="${project.process}" type="text" style="width:250px" required/>
                                                         </div>
                                                     </div>
                                                 </div>-->

                                                 <div class="form-group ">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">项目负责人
                                                             <span class="required" style="color:red">*</span>
                                                         </label>
                                                         <div class="col-lg-10">
                                                             <input class="form-control" name="leader" th:value="${project.leader}" type="text" style="width:250px" required/>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="form-group">
                                                     <div  style="margin-left:250px">
                                                         <label class="control-label col-lg-2">联系手机号
                                                             <span class="required" style="color:red">*</span>
                                                         </label>
                                                         <div class="col-lg-10">
                                                             <input class="form-control" name="phone" th:value="${project.phone}" type="text" style="width:250px" required/>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="form-group">
                                                     <div  style="margin-left:500px">
                                                         <div class="col-lg-offset-2 col-lg-10">
                                                             <button type="submit" class="btn-sm btn-default"
                                                                     style="background-color:#66CDAA;color: white">更新</button>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </form>
                                         </div>
                                     </div>
                                 </section>
                             </div>
                         </div>
                         <!-- page end-->
                         </section>
                 </section>
                 <!--main content end-->
				</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!-- Bootstrap Js -->
    <script th:src="@{/bootstrap-3.3.7/js/bootstrap.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
    <!-- Custom Js -->
    <script th:src="@{/assets/js/custom-scripts.js}"></script>
   
</body>
</html>
