<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>后台系统侧边菜单栏和顶部导航栏</title>

</head>
<body>
    <!--/. NAV TOP  -->
    <nav class="navbar navbar-default top-navbar" role="navigation" th:fragment="topbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/admin-sys/index}"><i class="fa fa-comments"></i> <strong>项目管理系统</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown-messages -->
            <!--<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-envelope fa-fw"></i>
                    <i>消息</i>
                    <i class="fa fa-caret-down"></i>
                </a>
                &lt;!&ndash; &ndash;&gt;
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Doe</strong>
                                <span class="pull-right text-muted">
                                            <em>Today</em>
                                        </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>-->
            <!-- /.dropdown -->
            <!-- <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                     <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                 </a>
                 <ul class="dropdown-menu dropdown-tasks">
                     <li>
                         <a href="#">
                             <div>
                                 <p>
                                     <strong>Task 1</strong>
                                     <span class="pull-right text-muted">60% Complete</span>
                                 </p>
                                 <div class="progress progress-striped active">
                                     <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                         <span class="sr-only">60% Complete (success)</span>
                                     </div>
                                 </div>
                             </div>
                         </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                         <a href="#">
                             <div>
                                 <p>
                                     <strong>Task 2</strong>
                                     <span class="pull-right text-muted">28% Complete</span>
                                 </p>
                                 <div class="progress progress-striped active">
                                     <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                         <span class="sr-only">28% Complete</span>
                                     </div>
                                 </div>
                             </div>
                         </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                         <a href="#">
                             <div>
                                 <p>
                                     <strong>Task 3</strong>
                                     <span class="pull-right text-muted">60% Complete</span>
                                 </p>
                                 <div class="progress progress-striped active">
                                     <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                         <span class="sr-only">60% Complete (warning)</span>
                                     </div>
                                 </div>
                             </div>
                         </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                         <a href="#">
                             <div>
                                 <p>
                                     <strong>Task 4</strong>
                                     <span class="pull-right text-muted">85% Complete</span>
                                 </p>
                                 <div class="progress progress-striped active">
                                     <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                         <span class="sr-only">85% Complete (danger)</span>
                                     </div>
                                 </div>
                             </div>
                         </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                         <a class="text-center" href="#">
                             <strong>See All Tasks</strong>
                             <i class="fa fa-angle-right"></i>
                         </a>
                     </li>
                 </ul>
                 &lt;!&ndash; /.dropdown-tasks &ndash;&gt;
             </li>-->
            <!-- /.dropdown -->
            <!-- <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                     <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                 </a>
                 <ul class="dropdown-menu dropdown-alerts">
                     <li>
                         <a href="#">
                             <div>
                                 <i class="fa fa-comment fa-fw"></i> New Comment
                                 <span class="pull-right text-muted small">4 min</span>
                             </div>
                         </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                         <a href="#">
                             <div>
                                 <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                 <span class="pull-right text-muted small">12 min</span>
                             </div>
                         </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                         <a href="#">
                             <div>
                                 <i class="fa fa-envelope fa-fw"></i> Message Sent
                                 <span class="pull-right text-muted small">4 min</span>
                             </div>
                         </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                         <a href="#">
                             <div>
                                 <i class="fa fa-tasks fa-fw"></i> New Task
                                 <span class="pull-right text-muted small">4 min</span>
                             </div>
                         </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                         <a href="#">
                             <div>
                                 <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                 <span class="pull-right text-muted small">4 min</span>
                             </div>
                         </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                         <a class="text-center" href="#">
                             <strong>See All Alerts</strong>
                             <i class="fa fa-angle-right"></i>
                         </a>
                     </li>
                 </ul>
                 &lt;!&ndash; /.dropdown-alerts &ndash;&gt;
             </li>-->

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <img th:src="@{/images/admin_head.jpg}" class="head">
                    <strong>[[${session.userName}]]</strong>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a th:href="@{/admin-sys/loginer/{userId}(userId=${session.userId})}"><i class="fa fa-user fa-fw"></i>用户信息</a></li>
                    <li class="divider"></li>
                    <li><a th:href="@{/auth/logout}"><i class="fa fa-sign-out fa-fw"></i>退出登录</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /. NAV SIDE  -->
    <nav class="navbar-default navbar-side" role="navigation" th:fragment="sidebar">
        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="#"
                       th:class="${activeUri=='project.html'?'active-menu':''}">
                        <i class="fa fa-table"></i>项目中心<span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/admin-sys/projects}">管理已审核项目</a>
                        </li>
                        <li>
                            <a th:href="@{/admin-sys/auditings}">审核项目</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a th:href="@{/admin-sys/documents}"
                       th:class="${activeUri=='document.html'?'active-menu':''}">
                        <i class="fa fa-book"></i>文档中心
                    </a>
                </li>
                <li>
                    <a href="#"
                       th:class="${activeUri=='user.html'?'active-menu':''}">
                        <i class="fa fa-users"></i> 管理用户<span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/admin-sys/users}">维护用户信息</a>
                        </li>
                        <!--<li>
                            <a href="#">闲杂二级菜单<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">闲杂三级菜单</a>
                                </li>
                                <li>
                                    <a href="#">闲杂三级菜单</a>
                                </li>
                                <li>
                                    <a href="#">闲杂三级菜单</a>
                                </li>
                            </ul>
                        </li>-->
                    </ul>
                </li>

                <li>
                    <a th:href="@{/admin-sys/user/role}"
                       th:class="${activeUri=='userRole.html'?'active-menu':''}">
                        <i class="fa fa-user-plus"></i>分配用户角色
                    </a>
                </li>

                <li>
                    <a href="#"
                       th:class="${activeUri=='role.html'?'active-menu':''}">
                        <i class="fa fa-user-secret"></i> 管理角色<span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/admin-sys/roles}">维护角色信息</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>


</body>
</html>