<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>项目管理系统前台项目列表</title>

    <!--自定义 CSS-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <!-- jQuery Js -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!--自定义 JS-->
    <script th:src="@{/js/myJs.js}"></script>

</head>
<body class="front_index_body">
<div class="xgsm">
    <!--引入抽取出来的顶部导航栏-->
    <div th:replace="~{/commons/navbar::frond_topbar}"></div>
    <div>
        <button class="addTask" shiro:hasPermission="demand:edit">
            <a th:href="@{/user-sys/project}" style="color: #0f0f0f">
                <i style="width: 50px;height: 50px" class="fa fa-plus"></i>立项
            </a>
        </button>
    </div>
    <div class="block" th:each="project:${projects}">
        <a th:href="@{/user-sys/project/}+${project.projectId}">
            <p style="margin-top: 100px" th:text="${project.projectName}"></p>
            项目进度：<span style="font-size: 24px;color: red" th:text="${project.process}+'%'"></span>
        </a>
    </div>

</div>
</body>

</html>