<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>项目管理系统前台任务列表</title>

    <!--自定义 CSS-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <!-- Bootstrap Styles-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap.css}">
    <!-- jQuery Js -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!-- Bootstrap Js -->
    <script th:src="@{/bootstrap-3.3.7/js/bootstrap.js}"></script>
    <!--自定义 JS-->
    <script th:src="@{/js/myJs.js}"></script>

</head>
<body class="front_index_body">
<div class="xgsm">
    <!--引入抽取出来的顶部导航栏-->
    <div th:replace="~{/commons/navbar::frond_topbar}"></div>
    <!--删除模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="delModal">
        <input type="hidden" name="_method" value="delete" />
        <div class="modal-dialog" role="task">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title" style="font-size: 20px">删除
                        <img th:src="@{/images/danger.png}" />
                    </span>
                </div>
                <div class="modal-body">
                    <!-- 隐藏需要删除的id -->
                    <input type="hidden" id="deleteHaulId" />
                    <b style="color: orangered;font-size: 16px">是否删除该数据？</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-primary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn-sm btn-primary" onclick="delObject()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--指派模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="apportModal">
        <input type="hidden" name="_method" value="put" />
        <div class="modal-dialog" role="task">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title" style="font-size: 20px">指派
                        <img th:src="@{/images/hand.png}" />
                    </span>
                </div>
                <div class="modal-body">
                    <!-- 隐藏需要修改的任务id -->
                    <input type="hidden" id="apportHaulId" />
                    <b style="color: orangered;font-size: 16px">请在以下选框中选择要指派的项目成员</b>
                    <div>
                        <select name="userId" id="apportSel" style="width:250px;height:35px;border-radius:5px;-webkit-border-radius:3px;-moz-border-radius:3px;">
                            <option selected value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-primary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn-sm btn-primary" onclick="apportObject()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--转交模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="moveModal">
        <input type="hidden" name="_method" value="put" />
        <div class="modal-dialog" role="task">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title" style="font-size: 20px">转交
                        <img th:src="@{/images/hand.png}" />
                    </span>
                </div>
                <div class="modal-body">
                    <!-- 隐藏需要修改的任务id -->
                    <input type="hidden" id="moveHaulId" />
                    <b style="color: orangered;font-size: 16px">请在以下选框中选择要转交的项目成员</b>
                    <div>
                        <select name="userId" id="moveSel" style="width:250px;height:35px;border-radius:5px;-webkit-border-radius:3px;-moz-border-radius:3px;">
                            <option selected value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-primary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn-sm btn-primary" onclick="moveObject()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--下一步模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="nextModal">
        <input type="hidden" name="_method" value="put" />
        <div class="modal-dialog" role="task">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title" style="font-size: 20px">下一步
                        <img th:src="@{/images/hand.png}" />
                    </span>
                </div>
                <div class="modal-body">
                    <!-- 隐藏需要修改的任务id -->
                    <input type="hidden" id="nextHaulId" />
                    <b style="color: orangered;font-size: 16px">请在以下选框中选择下一阶段处理的项目成员</b>
                    <div>
                        <select name="userId" id="nextSel" style="width:250px;height:35px;border-radius:5px;-webkit-border-radius:3px;-moz-border-radius:3px;">
                            <option selected value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-primary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn-sm btn-primary" onclick="nextObject()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--驳回模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="rejectModal">
        <input type="hidden" name="_method" value="put" />
        <div class="modal-dialog" role="task">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title" style="font-size: 20px">驳回
                        <img th:src="@{/images/hand.png}" />
                    </span>
                </div>
                <div class="modal-body">
                    <!-- 隐藏需要修改的任务id -->
                    <input type="hidden" id="rejectHaulId" />
                    <b style="color: orangered;font-size: 16px">请在以下选框中选择驳回进行处理的项目成员</b>
                    <div>
                        <select name="userId" id="rejectSel" style="width:250px;height:35px;border-radius:5px;-webkit-border-radius:3px;-moz-border-radius:3px;">
                            <option selected value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-primary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn-sm btn-primary" onclick="rejectObject()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="tasks" id="demandPanel">
        需求任务
        <div class="task" th:each="task:${tasks}" th:if="${task.taskType eq '需求任务' && task.taskStatus eq '待执行'}">
            <div>
                <div class="tip" th:if="${task.taskLevel=='高'}"></div>
                <div class="task_content">
                    <div style="margin-left: 20px">
                        <span style="font-size: 14px">任务ID：</span>
                        <span id="taskId" style="font-size: 14px" th:text="${task.taskId}"></span>
                    </div>
                    <div style="margin-left: 20px;font-size: 16px" th:text="${task.taskName}"></div>
                    <div style="margin-left: 50px">
                        <span style="color: red;font-size: 14px">截止日期：</span>
                        <span style="color: red;font-size: 14px" th:text="${task.finishTime}"></span>
                    </div>
                    <div style="margin-left: 50px">
                        <span style="font-size: 14px">所属项目：</span>
                        <span style="font-size: 14px" th:text="${task.projectId}"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="btnGroup" style="line-height: 47px">
                    <button class="btn-sm btn-info">
                        <a th:href="@{/user-sys/task/}+${task.taskId}" style="color: white">
                            <i class="fa fa-pencil-square-o">查看详情</i>
                        </a>
                    </button>
                    <button shiro:hasPermission="demand:edit" class="btn-sm btn-danger"
                            onclick="toShowDelModal(this)">
                        <i class="fa fa-trash-o">删除</i>
                    </button>
                    <button shiro:hasPermission="demand:edit" class="btn-sm btn-success"
                            onclick="toShowApportModal(this)">
                        <i class="fa fa-hand-o-right" aria-hidden="true">指派</i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <button class="addTask" shiro:hasPermission="demand:edit">
                <a th:href="@{/user-sys/task}" style="color: #0f0f0f">
                    <i style="width: 50px;height: 50px" class="fa fa-plus"></i>添加任务
                </a>
            </button>
        </div>
    </div>
    <div class="tasks" id="devPanel">
        开发任务
        <div class="task" th:each="task:${tasks}" th:if="${task.taskType}=='开发任务'">
            <div>
                <div class="tip" th:if="${task.taskLevel=='高'}"></div>
                <div class="task_content">
                    <div style="margin-left: 20px">
                        <span style="font-size: 14px">任务ID：</span>
                        <span style="font-size: 14px" th:text="${task.taskId}"></span>
                    </div>
                    <div style="margin-left: 20px;font-size: 16px" th:text="${task.taskName}"></div>
                    <div style="margin-left: 50px">
                        <span style="color: red;font-size: 14px">截止日期：</span>
                        <span style="color: red;font-size: 14px" th:text="${task.finishTime}"></span>
                    </div>
                    <div style="margin-left: 50px">
                        <span style="font-size: 14px">所属项目：</span>
                        <span style="font-size: 14px" th:text="${task.projectId}"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="btnGroup" style="line-height: 47px">
                    <button class="btn-sm btn-info">
                        <a th:href="@{/user-sys/task/}+${task.taskId}" style="color: white">
                            <i class="fa fa-pencil-square-o">查看详情</i>
                        </a>
                    </button>
                    <button class="btn-sm btn-success" shiro:hasPermission="dev:edit"
                            onclick="toShowApportModal(this)">
                        <i class="fa fa-hand-o-right" aria-hidden="true">转交</i>
                    </button>
                    <button class="btn-sm btn-success" onclick="toShowApportModal(this)">
                        <i class="fa fa-arrow-right" aria-hidden="true">下一步</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="tasks" id="testPanel">
        测试任务
        <div class="task" th:each="task:${tasks}" th:if="${task.taskType}=='测试任务'">
            <div>
                <div class="tip" th:if="${task.taskLevel=='高'}"></div>
                <div class="task_content">
                    <div style="margin-left: 20px">
                        <span style="font-size: 14px">任务ID：</span>
                        <span style="font-size: 14px" th:text="${task.taskId}"></span>
                    </div>
                    <div style="margin-left: 20px;font-size: 16px" th:text="${task.taskName}"></div>
                    <div style="margin-left: 50px">
                        <span style="color: red;font-size: 14px">截止日期：</span>
                        <span style="color: red;font-size: 14px" th:text="${task.finishTime}"></span>
                    </div>
                    <div style="margin-left: 50px">
                        <span style="font-size: 14px">所属项目：</span>
                        <span style="font-size: 14px" th:text="${task.projectId}"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="btnGroup" style="line-height: 47px">
                    <button class="btn-sm btn-info">
                        <a th:href="@{/user-sys/task/}+${task.taskId}" style="color: white">
                            <i class="fa fa-pencil-square-o">查看详情</i>
                        </a>
                    </button>
                    <button shiro:hasPermission="test:edit" class="btn-sm btn-success"
                            onclick="toShowApportModal(this)">
                        <i class="fa fa-hand-o-right" aria-hidden="true">转交</i>
                    </button>
                    <button class="btn-sm btn-success" onclick="toShowApportModal(this)">
                        <i class="fa fa-arrow-right" aria-hidden="true">下一步</i>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="tasks" id="finishPanel">
        需求审核
        <div class="task" th:each="task:${tasks}" th:if="${task.taskType eq '需求任务' && task.taskStatus ne '待执行'}">
            <div>
                <div class="tip" th:if="${task.taskLevel=='高'}"></div>
                <div class="task_content">
                    <div style="margin-left: 20px">
                        <span style="font-size: 14px">任务ID：</span>
                        <span style="font-size: 14px" th:text="${task.taskId}"></span>
                    </div>
                    <div style="margin-left: 20px;font-size: 16px" th:text="${task.taskName}"></div>
                    <div style="margin-left: 50px">
                        <span style="color: red;font-size: 14px">截止日期：</span>
                        <span style="color: red;font-size: 14px" th:text="${task.finishTime}"></span>
                    </div>
                    <div style="margin-left: 50px">
                        <span style="font-size: 14px">所属项目：</span>
                        <span style="font-size: 14px" th:text="${task.projectId}"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="btnGroup" style="line-height: 47px">
                    <button class="btn-sm btn-info">
                        <a th:href="@{/user-sys/task/}+${task.taskId}" style="color: white">
                            <i class="fa fa-pencil-square-o">查看详情</i>
                        </a>
                    </button>
                    <button shiro:hasPermission="demand:edit" class="btn-sm btn-success"
                            onclick="toShowApportModal(this)">
                        <i class="fa fa-hand-o-right" aria-hidden="true">驳回</i>
                    </button>
                    <button shiro:hasPermission="demand:edit" class="btn-sm btn-success"
                            onclick="checkObject(this)">
                        <i class="fa fa-check" aria-hidden="true">完成</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    //删除第一步
    function toShowDelModal(obj) {
        //定位到所有任务块的任务ID栏
        var tasks = $(obj).parent().parent().parent().children().children().children();
        //获取到的内容奇奇怪怪的，前面有长串空格，中间也有
        //做以下处理：去两端空格，再截取需要内容
        var taskId = $(tasks[0]).text().trim();
        //console.log("长度："+taskId.length);
        var delete_id = taskId.substring(30,taskId.length);// 获取要删除的任务ID
        console.log("获取到的任务id："+delete_id);
        $("#deleteHaulId").val(delete_id);// 将模态框中隐藏删除ID框设为需要删除的ID
        $('#delModal').modal('show');//打开模态框
    }
    //删除第二步
    function delObject() {
        var taskId = $("#deleteHaulId").val();
        console.log("要删除的任务id："+taskId);
        $.ajax({
            url: "/TBMS/user-sys/task/"+taskId,
            type: "post",
            data: {
                _method:"delete",
                taskId:taskId
            },
            async:false,
            dataType: 'json',
            success: function (data) {
                $('#delModal').modal('hide'); //关闭模态框
                if(data==1){
                    alert("删除任务成功");
                }else{
                    alert("删除任务失败");
                }
                window.location.reload();
            }
        });
    }

    //弹出下拉选择框
    function toShowApportModal(obj) {
        //定位到所有任务块的任务ID栏
        var tasks = $(obj).parent().parent().parent().children().children().children();
        //获取到的内容奇奇怪怪的，前面有长串空格，中间也有
        //做以下处理：去两端空格，再截取需要内容
        var taskId = $(tasks[0]).text().trim();
        var apport_id = taskId.substring(30,taskId.length);// 获取要指派的任务ID
        console.log("获取到的任务id："+apport_id);
        var operate = $(obj).text().trim();
        console.log(operate);
        if(operate=='指派'){
            $('#apportModal').modal('show');//打开指派模态框
            $("#apportHaulId").val(apport_id);// 将模态框中隐藏指派任务ID框设为需要修改的任务ID
        }else if(operate=='转交'){
            $('#moveModal').modal('show');//打开模态框
            $("#moveHaulId").val(apport_id);// 将模态框中隐藏指派任务ID框设为需要修改的任务ID
        }else if(operate=='下一步'){
            $('#nextModal').modal('show');//打开模态框
            $("#nextHaulId").val(apport_id);// 将模态框中隐藏指派任务ID框设为需要修改的任务ID
        }else if(operate=='驳回'){
            $('#rejectModal').modal('show');//打开模态框
            $("#rejectHaulId").val(apport_id);// 将模态框中隐藏指派任务ID框设为需要修改的任务ID
        }
        $.ajax({
            url: "/TBMS/user-sys/task-apport/"+apport_id,
            type: "get",
            data:{
                apport_id:apport_id
            },
            //解决ajax提交参数时中文乱码
            contentType:"application/x-www-form-urlencoded:charset=UTF-8",
            async:true,
            success: function (data) {
                if(operate=='指派'){
                    //动态添加option前先清空option，避免上次点击动态添加下拉选项造成的遗留
                    $("#apportSel option").remove();
                    for(var i=0;i<data.length;i++){
                        $("#apportSel").append("<option value='"+data[i].userId+"'>"+data[i].userId+"</option>");
                    }
                }else if(operate=='转交'){
                    //动态添加option前先清空option，避免上次点击动态添加下拉选项造成的遗留
                    $("#moveSel option").remove();
                    for(var i=0;i<data.length;i++){
                        $("#moveSel").append("<option value='"+data[i].userId+"'>"+data[i].userId+"</option>");
                    }
                }else if(operate=='下一步'){
                    //动态添加option前先清空option，避免上次点击动态添加下拉选项造成的遗留
                    $("#nextSel option").remove();
                    for(var i=0;i<data.length;i++){
                        $("#nextSel").append("<option value='"+data[i].userId+"'>"+data[i].userId+"</option>");
                    }
                }else if(operate=='驳回'){
                    //动态添加option前先清空option，避免上次点击动态添加下拉选项造成的遗留
                    $("#rejectSel option").remove();
                    for(var i=0;i<data.length;i++){
                        $("#rejectSel").append("<option value='"+data[i].userId+"'>"+data[i].userId+"</option>");
                    }
                }
            },
            error: function (data) {
                console.log("测试："+data);
            }
        });
    }

    //指派任务
    function apportObject() {
        var taskId = $("#apportHaulId").val();
        var userId = $("#apportSel").val();
        console.log("选择的userId："+userId);
        console.log("要指派的任务id："+taskId);
        $.ajax({
            url: "/TBMS/user-sys/task-apport/"+taskId,
            type: "post",
            data: {
                _method:"put",
                taskId:taskId,
                userId:userId,
                taskType:'开发任务'
            },
            async:true,
            dataType: 'json',
            success: function (data) {
                $('#apportModal').modal('hide'); //关闭模态框
                if(data==1){
                    alert("指派任务给成员："+userId+"处理");
                }else{
                    alert("指派任务失败");
                }
                window.location.reload();
            }
        });
    }

    //移交任务
    function moveObject() {
        var taskId = $("#moveHaulId").val();
        var userId = $("#moveSel").val();
        var roleType = [[${session.roleType}]];
        console.log("角色类型:"+roleType);
        var taskType = "";
        if(roleType=="开发"){
            taskType = "开发任务";
        }else if(roleType=="测试"){
            taskType = "测试任务";
        }
        console.log("选择的userId："+userId);
        console.log("要移交的任务id："+taskId);
        $.ajax({
            url: "/TBMS/user-sys/task-apport/"+taskId,
            type: "post",
            data: {
                _method:"put",
                taskId:taskId,
                userId:userId,
                taskType:taskType
            },
            async:true,
            dataType: 'json',
            success: function (data) {
                $('#moveModal').modal('hide'); //关闭模态框
                if(data==1){
                    alert("移交任务给成员："+userId+"处理");
                }else{
                    alert("移交任务失败");
                }
                window.location.reload();
            }
        });
    }

    //下一步任务
    function nextObject() {
        var taskId = $("#nextHaulId").val();
        var userId = $("#nextSel").val();
        /*通过thymeleaf的内联JavaScript代码语法实现*/
        var roleType = [[${session.roleType}]];
        console.log("角色类型:"+roleType);
        var taskType = "";
        if(roleType=="开发" || roleType=="管理"){
            taskType = "测试任务";
        }else if(roleType=="测试"){
            taskType = "需求任务";
        }
        console.log("选择的userId："+userId);
        console.log("进入下一步的任务id："+taskId);
        $.ajax({
            url: "/TBMS/user-sys/task-apport/"+taskId,
            type: "post",
            data: {
                _method:"put",
                taskId:taskId,
                userId:userId,
                taskType:taskType
            },
            async:true,
            dataType: 'json',
            success: function (data) {
                $('#nextModal').modal('hide'); //关闭模态框
                if(data==1){
                    alert("任务成功进入下一步，交给成员："+userId+"处理");
                }else{
                    alert("任务进入下一步失败");
                }
                window.location.reload();
            }
        });
    }

    //驳回任务
    function rejectObject() {
        var taskId = $("#rejectHaulId").val();
        var userId = $("#rejectSel").val();
        console.log("选择的userId："+userId);
        console.log("要驳回的任务id："+taskId);
        $.ajax({
            url: "/TBMS/user-sys/task-apport/"+taskId,
            type: "post",
            data: {
                _method:"put",
                taskId:taskId,
                userId:userId,
                taskType:'开发任务'
            },
            async:true,
            dataType: 'json',
            success: function (data) {
                $('#rejectModal').modal('hide'); //关闭模态框
                if(data==1){
                    alert("驳回任务给成员："+userId+"处理");
                }else{
                    alert("驳回任务失败");
                }
                window.location.reload();
            }
        });
    }

    //验收任务
    function checkObject(obj) {
        //定位到所有任务块的任务ID栏
        var tasks = $(obj).parent().parent().parent().children().children().children();
        //获取到的内容奇奇怪怪的，前面有长串空格，中间也有
        //做以下处理：去两端空格，再截取需要内容
        var taskId = $(tasks[0]).text().trim();
        var apport_id = taskId.substring(30,taskId.length);// 获取要指派的任务ID
        console.log("获取到的任务id："+apport_id);
        $.ajax({
            url: "/TBMS/user-sys/task-finish/"+apport_id,
            type: "post",
            data: {
                _method:"put",
                taskId:taskId,
                taskStatus:'已完成'
            },
            async:true,
            dataType: 'json',
            success: function (data) {
                if(data==1){
                    alert("需求任务完美完成，通过！");
                }else{
                    alert("需求任务验收失败");
                }
                window.location.reload();
            }
        });
    }

</script>
</body>
</html>