<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhbit.xiaojiang.mapper.TaskMapper">

    <select id="findAllDemand" parameterType="String" resultType="Task">
        select * from tasks
        where projectId in (
          select projectId from members
          where userId = #{value}
        )
        and taskType = '需求任务'
    </select>

    <select id="findAllTask" parameterType="String" resultType="Task">
        select * from tasks
        where taskId in (
          select taskId from execute
          where userId = #{value}
        )
    </select>

    <select id="findByTaskId" parameterType="String" resultType="Task">
        select * from tasks
        where taskId = #{value}
    </select>

    <insert id="saveTask" parameterType="Task" keyProperty="taskId" useGeneratedKeys="true">
        insert into tasks(taskId,taskName,taskContent,createTime,finishTime,taskStatus,taskType,taskLevel,projectId)
              values(
                    #{taskId,jdbcType=VARCHAR},
                    #{taskName,jdbcType=VARCHAR},
                    #{taskContent,jdbcType=VARCHAR},
                    #{createTime,jdbcType=DATE},
                    #{finishTime,jdbcType=DATE},
                    #{taskStatus,jdbcType=VARCHAR},
                    #{taskType,jdbcType=VARCHAR},
                    #{taskLevel,jdbcType=VARCHAR},
                    #{projectId,jdbcType=VARCHAR}
              )
    </insert>
    
    <insert id="handExecute" parameterType="Execute" keyProperty="taskId" useGeneratedKeys="true">
        insert into execute(userId,taskId)
            values(
                #{userId,jdbcType=VARCHAR},
                #{taskId,jdbcType=VARCHAR}
            )
    </insert>
    
    <delete id="deleteTask" parameterType="String">
        delete from tasks
        where taskId = #{value}
    </delete>
    
    <delete id="deleteExecute" parameterType="String">
        delete from execute
        where taskId = #{value}
    </delete>

    <select id="findUserList" parameterType="String" resultType="User">
        select distinct userId from members
        where projectId in (
          select projectId from tasks
          where taskId = #{value}
        )
    </select>
    
    <update id="apportTask" parameterType="String">
        update execute set
        userId=#{userId,jdbcType=VARCHAR}
        where taskId=#{taskId}
    </update>

    <update id="editTask" parameterType="String">
        update tasks set
        taskStatus='正在执行',
        taskType=#{taskType}
        where taskId=#{taskId}
    </update>

    <update id="finishTask" parameterType="String">
        update tasks set
        taskStatus=#{taskStatus}
        where taskId=#{taskId}
    </update>
    
    <select id="yesCount" parameterType="String" resultType="Integer">
        select count(1) as yesCount
        from tasks
        where taskStatus = '已完成'
        and taskId in (
          select taskId from execute
          where userId = #{value}
        )
    </select>

    <select id="allCount" parameterType="String" resultType="Integer">
        select count(1) as allCount
        from tasks
        where taskId in (
          select taskId from execute
          where userId = #{value}
        )
    </select>

    <select id="calculateProcess" parameterType="String" resultType="Float">
        select yesCount/allCount as process
        from
            (
            select projectId,count(1) as yesCount
            from tasks
            where taskStatus = '已完成'
            and projectId = #{value}
            group by projectId
            ) a
        join
            (
            select projectId,count(1) as allCount
            from tasks
            where projectId = #{value}
            group by projectId
            ) b
        on a.projectId = b.projectId
    </select>

</mapper>